
.jumbotron{
    margin-top: 50px;
}
.jumbotron-fluid{
    height: auto;
}
.row {
    padding:20px;
}
.mobile-menu-wrapper{
    height: 100vh;

}
.list-group-item >a {
    color:white;
}
.section-header{
    margin-bottom:20px;
}

.icon{

}